<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #demo {

            overflow-x: hidden;
        }

        /* 禁止刷新后出现横向滚动条 */
    </style>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="#">首页</a>
            <a href="#">班级信息</a>
          </span>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-inline layui-show-xs-block">
                        <input type="hidden" id="class_id"
                               th:value="${class_id}"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i
                            class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn"
                            onclick="xadmin.open('添加用户','./jrInsStuCard',600,400)"><i
                            class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-hide" id="demo" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="none">
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        //展示已知数据
        table.render({
            url: '/selClassCadre?class_id=' + $('#class_id').val(),
            title: '班干部数据表',
            toolbar: '#toolbarDemo',
            id: "classCadreTable",
            elem: '#demo',
            cols: [[ //标题栏
                {type: 'checkbox'},
                {field: 'stu_id', title: 'ID', hide: true},
                {field: 'stu_num', title: '学生学号'},
                {field: 'classid', title: '入学班级'},
                {field: 'name', title: '名字'},
                {
                    field: 'sex', title: '性别', templet: function (d) {
                        if (d.sex == 0) {
                            return "男";
                        } else {
                            return "女";
                        }
                    }
                },
                {
                    field: 'card_id', title: '职位', templet: function (d) {
                        if (d.card_id == 1) {
                            return "班长";
                        } else if (d.card_id == 2) {
                            return "纪律委员";
                        } else if (d.card_id == 3) {
                            return "生活委员";
                        } else if (d.card_id == 4) {
                            return "学习委员";
                        } else if (d.card_id == 5) {
                            return "体育委员";
                        } else if (d.card_id == 6) {
                            return "文艺委员";
                        }
                    }
                },
                {title: '操作', toolbar: '#barDemo'}
            ]],

            skin: 'line', //表格风格
            page: true,
            limits: [1, 7, 10],
            limit: 10
        });

        //搜索
        $("#search").click(function () {
            var department_id = $('#department_id').val();
            var name = $('#name').val();
            var strsex = $('#strsex').val();
            table.reload('classCadreTable', {
                where: {
                    department_id: department_id,
                    name: name,
                    strsex: strsex
                },
                page: {
                    curr: 1
                }
            })
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var id = obj.data.stu_id;
            if (obj.event === "edit") {
                xadmin.open('修改用户', '/selOneStu_UnionStu?stu_id=' + id, 600, 600);
            }
        })
    });
</script>


</html>
