<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.stuinfomanager.mapper.ClassesMapper">
    <!--  模糊查询和分页  -->
    <select id="selAllClasses" resultType="com.buba.stuinfomanager.pojo.Classes">
        select * from tb_classes
        <where>
            <if test="class_name != null and class_name != ''">
                and class_name like CONCAT('%',CONCAT(#{class_name},'%'))
            </if>
            <if test="headmaster != null and headmaster != ''">
                and headmaster like CONCAT('%',CONCAT(#{headmaster},'%'))
            </if>
            <if test="teacher != null and teacher != ''">
                and teacher like CONCAT('%',CONCAT(#{teacher},'%'))
            </if>
        </where>
    </select>
    <!--    添加班级-->
    <insert id="insClasses" parameterType="com.buba.stuinfomanager.pojo.Classes">
        insert into tb_classes(class_name,headmaster,teacher,cycle_progress)
        values(#{class_name},#{headmaster},#{teacher},#{cycle_progress})
    </insert>
    <!--    删除班级-->
    <delete id="delClasses" parameterType="java.lang.Integer">
        delete from tb_classes where class_id = #{class_id}
    </delete>
    <!--    查询单个班级-->
    <select id="selOneClasses" parameterType="java.lang.Integer"
            resultType="com.buba.stuinfomanager.pojo.Classes">
        select * from tb_classes where class_id = #{class_id}
    </select>
    <!--    修改班级-->
    <update id="updClasses" parameterType="com.buba.stuinfomanager.pojo.Classes">
        update tb_classes set
        class_name=#{class_name},headmaster=#{headmaster},teacher=#{teacher},cycle_progress=#{cycle_progress} where class_id = #{class_id}
    </update>
    <!--    查询单个班级班干部-->
    <select id="selClassCadre" parameterType="java.lang.Integer"
            resultType="com.buba.stuinfomanager.pojo.CardStu">
       select  c.card_id,c.card_name,s.stu_id,s.stu_num,s.nowClassId,s.name,s.sex,s.birthday from
       (stu_card
       sc left join tb_class_card c on sc.card_id = c.card_id) left join tb_student s on
       sc.stu_id = s.stu_id where s.nowClassId = #{class_id}
    </select>
    <!--    查询班级学生-->
    <select id="selClassStudent" parameterType="java.lang.Integer"
            resultType="com.buba.stuinfomanager.pojo.Student">
        select * from tb_student where nowClassId = #{class_id}
    </select>
    <!--    修改学生干部职位-->
    <update id="updStuCard" parameterType="com.buba.stuinfomanager.pojo.CardStu">
        update stu_card set card_id = #{card_id} where stu_id
         = #{stu_id}
    </update>
    <!--    添加学生干部职位-->
    <insert id="insStuCard" parameterType="com.buba.stuinfomanager.pojo.CardStu">
        insert into stu_card(card_id,stu_id,class_id) values(#{card_id},#{stu_id},#{class_id})
    </insert>
    <!--    删除学生干部职位-->
    <delete id="delStuCard" parameterType="com.buba.stuinfomanager.pojo.CardStu">
        delete from stu_card where stu_id = #{stu_id}
    </delete>
    <!--    查询所有学生-->
    <select id="selAllClassStudents" resultType="com.buba.stuinfomanager.pojo.Student">
        select * from tb_student
    </select>
    <!--    查询单个部门的单个学生-->
    <select id="selOneCardStudent" resultType="com.buba.stuinfomanager.pojo.CardStu">
        select  c.card_id,c.card_name,s.stu_id,s.stu_num,s.nowClassId,s.name,s.sex,s.birthday from
       (stu_card
       sc left join tb_class_card c on sc.card_id = c.card_id) left join tb_student s on
       sc.stu_id = s.stu_id where s.stu_id = #{stu_id}
    </select>
    <!--    删除更多班级-->
    <delete id="delMoreClasses">
        delete from tb_classes where class_id in
        <foreach collection="class_id" item="classid" open="(" separator="," close=")">
            #{classid}
        </foreach>
    </delete>
<!--    查询所有老师-->
    <select id="selAllClassTeacher" resultType="com.buba.stuinfomanager.pojo.Teacher">
        select * from tb_teacher where t_position = 0
    </select>
    <select id="selAllClassHeadmaster" resultType="com.buba.stuinfomanager.pojo.Teacher">
        select * from tb_teacher where t_position = 1
    </select>
</mapper>
