<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.stuinfomanager.mapper.ScoreMapper">
    <resultMap id="studentResultMap" type="com.buba.stuinfomanager.pojo.Student">
        <id property="stu_id" column="stu_id"/>
        <result property="stu_num" column="stu_num"/>
        <result property="classid" column="classid"/>
        <result property="nowClassId" column="nowClassId"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex" />
        <result property="birthday" column="birthday"/>
        <result property="home" column="home"/>
        <result property="phone" column="phone"/>
        <result property="familyStatus" column="familyStatus"/>
        <result property="market" column="market"/>
        <result property="password" column="password"/>
        <result property="familyCommunication" column="familyCommunication"/>
        <result property="cycle_progress" column="cycle_progress"/>
        <result property="dept_id" column="dept_id"/>
        <association property="classes" javaType="com.buba.stuinfomanager.pojo.Classes">
            <id property="class_id" column="class_id"/>
            <result property="class_name" column="class_name"/>
            <result property="headmaster" column="headmaster"/>
            <result property="teacher" column="teacher"/>
            <result property="cycle_progress" column="cycle_progress"/>
        </association>
    </resultMap>
    <select id="selAllScore" resultType="com.buba.stuinfomanager.pojo.Score">
        select * from tb_score
        <where>
            <if test="studentid != null and studentid != ''">
                and studentid like CONCAT('%',CONCAT(#{studentid},'%'))
            </if>
            <if test="studentname != null and studentname != ''">
                and studentname like CONCAT('%',CONCAT(#{studentname},'%'))
            </if>
            <if test="period != null and period != ''">
                and period like CONCAT('%',CONCAT(#{period},'%'))
            </if>
        </where>
    </select>
    <select id="selScoreById" parameterType="java.lang.Integer" resultType="com.buba.stuinfomanager.pojo.Score">
        select * from tb_score where id = #{id};
    </select>
    <update id="updScore" parameterType="com.buba.stuinfomanager.pojo.Score">
        update tb_score set interviewresult = #{interviewresult},skillscores = #{skillscores} where id = #{id}
    </update>
    <insert id="addScore" parameterType="com.buba.stuinfomanager.pojo.Score">
        insert into tb_score (studentid,studentname,classes,period,interviewresult,skillscores)
            values (#{studentid},#{studentname},#{classes},#{period},#{interviewresult},#{skillscores})
    </insert>
    <select id="selStudent" resultMap="studentResultMap">
        select s.name,s.cycle_progress,c.class_name,c.class_id
        from tb_student s
        left join tb_classes c
        on s.nowClassId = c.class_id
        where s.stu_num = #{studentid}
    </select>
    <select id="selScoreByStuidPeriod" resultType="com.buba.stuinfomanager.pojo.Score">
        select * from tb_score where studentid = #{studentid} and period = #{period}
    </select>
    <update id="updClasses" >
        update tb_student set nowClassId = #{classid} where stu_num = #{studentid}
    </update>
    <select id="selDownClassesId" resultType="java.lang.Integer">
        select min(class_id) from tb_classes where left(class_name,4)>left(#{class_name},4) and right(class_name,1) != 'b'
    </select>
</mapper>