<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.stuinfomanager.mapper.StudentMapper">
    <resultMap id="studentResultMap" type="com.buba.stuinfomanager.pojo.Student">
        <id property="stu_id" column="stu_id"/>
        <result property="stu_num" column="stu_num"/>
        <result property="classid" column="classid"/>
        <result property="nowClassId" column="nowClassId"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex" />
        <result property="birthday" column="birthday"/>
        <result property="home" column="home"/>
        <result property="phone" column="phone"/>
        <result property="familyStatus" column="familyStatus"/>
        <result property="market" column="market"/>
        <result property="password" column="password"/>
        <result property="familyCommunication" column="familyCommunication"/>
        <result property="cycle_progress" column="cycle_progress"/>
        <result property="dept_id" column="dept_id"/>
        <association property="classes" javaType="com.buba.stuinfomanager.pojo.Classes">
            <id property="class_id" column="class_id"/>
            <result property="class_name" column="class_name"/>
            <result property="headmaster" column="headmaster"/>
            <result property="teacher" column="teacher"/>
            <result property="cycle_progress" column="cycle_progress"/>
        </association>
        <association property="nowClasses" javaType="com.buba.stuinfomanager.pojo.Classes">
            <id property="class_id" column="class_id1"/>
            <result property="class_name" column="class_name1"/>
            <result property="headmaster" column="n_headmaster1"/>
            <result property="teacher" column="teacher1"/>
            <result property="cycle_progress" column="n_cycle_progress1"/>
        </association>
    </resultMap>
    <select id="findAllStudent" resultMap="studentResultMap">
        select stu.*,classes.*,nowClasses.class_name class_name1, nowClasses.class_id class_id1 from tb_student as stu left join tb_classes as classes on stu.classid = classes.class_id
        inner  join tb_classes as nowClasses on stu.nowClassId = nowClasses.class_id
        <where>
            <if test="stu_num!=null and stu_num!=''">
                and stu_num = #{stu_num}
            </if>
            <if test="name!=null and name!=''">
                <bind name="name" value="'%'+name+'%'"/>
                and name like #{name}
            </if>
        </where>
    </select>
    <delete id="deleteOneStudent">
        delete from tb_student where stu_id = #{stu_id}
    </delete>

    <select id="selectOneById" resultMap="studentResultMap">
        select * from tb_student where stu_id = #{stu_id}
    </select>
    <select id="selectClass" resultType="com.buba.stuinfomanager.pojo.Classes">
        select * from tb_classes
    </select>

    <update id="update">
        update tb_student set nowClassId = #{nowClassId},name = #{name},birthday = #{birthday},phone = #{phone},home = #{home},sex=#{sex},
            familyStatus = #{familyStatus},market = #{market},familyCommunication = #{familyCommunication}
            where stu_id = #{stu_id}
    </update>

    <insert id="add">
        insert into tb_student (stu_num,name,classid,nowClassId,birthday,sex,home,phone,password,familyStatus,market,familyCommunication)
            value(#{stu_num},#{name},#{classid},#{nowClassId},#{birthday},#{sex},#{home},#{phone},"123456",#{familyStatus},#{market},#{familyCommunication})
    </insert>

    <select id="selectMaxStu_num" resultType="String">
        SELECT max(stu_num) FROM tb_student where nowClassId = #{nowClassId}
    </select>

    <select id="selectClassName" resultType="String">
        select class_name from tb_classes where class_id = #{class_id}
    </select>

    <select id="selectClassId" resultType="Integer">
        select class_id from tb_classes where class_name = #{class_name}
    </select>

    <delete id="deleteMore">
        delete from tb_student where stu_id in
        <foreach collection="stuid"  item="stu_id" open="(" separator="," close=")"  >
            #{stu_id}
        </foreach>
    </delete>
</mapper>