<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.stuinfomanager.mapper.TeacherMapper">
    <select id="findAllTeacher" resultType="com.buba.stuinfomanager.pojo.Teacher">
        select * from tb_teacher
        <where>
            <if test="t_num!=null and t_num!=''">
                and t_num = #{t_num}
            </if>
            <if test="name!=null and name!=''">
                <bind name="name" value="'%'+name+'%'"/>
                and name like #{name}
            </if>
        </where>
    </select>
    <delete id="deleteOneTeacher">
        delete from tb_teacher where t_id = #{t_id}
    </delete>

    <select id="selectOneById" resultType="com.buba.stuinfomanager.pojo.Teacher">
        select * from tb_teacher where t_id = #{t_id}
    </select>

    <update id="update">
        update tb_teacher set name = #{name},birthday = #{birthday},phone = #{phone},home = #{home}
            where t_id = #{t_id}
    </update>

    <insert id="add">
        insert into tb_teacher (t_num,name,birthday,home,phone,password,t_position)
            value(#{t_num},#{name},#{birthday},#{home},#{phone},"123456",#{t_position})
    </insert>

    <select id="selectMaxT_num" resultType="String">
        SELECT max(t_num) FROM tb_teacher
    </select>
    <delete id="deleteMore">
        delete from tb_teacher where t_id in
        <foreach collection="tids"  item="t_id" open="(" separator="," close=")"  >
            #{t_id}
        </foreach>
    </delete>
</mapper>