<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.stuinfomanager.mapper.WjMapper">
    <resultMap type="com.buba.stuinfomanager.pojo.Wj" id="WjResultMap">
        <id property="id" column="id" />
        <result property="classes" column="classes" />
        <result property="studentname" column="name" />
        <result property="wjdate" column="wjdate"/>
        <result property="typeid" column="typeid" />
        <result property="notes" column="notes" />
        <association property="wjType" javaType="com.buba.stuinfomanager.pojo.WjType" >
            <id property="id" column="id" />
            <result property="typename" column="typename" />
        </association>
    </resultMap>
    <select id="selAllWj" resultMap="WjResultMap">
        select
            r.id ,
            r.classes ,
            r.name ,
            r.wjdate,
            r.notes,
            c.typename
        from tb_wj r left join  tb_wjtype c on r.typeid = c.id
        <where>
            <if test="starttime != null and starttime != ''">
                and wjdate &gt;= #{starttime}
            </if>
            <if test="endtime != null and endtime != ''">
                and wjdate &lt;= #{endtime}
            </if>
            <if test="classes != null and classes != ''">
                and classes like CONCAT('%',CONCAT(#{classes},'%'))
            </if>
            <if test="studentname != null and studentname != ''">
                and name like CONCAT('%',CONCAT(#{studentname},'%'))
            </if>
        </where>
    </select>
    <select id="selWjById" parameterType="java.lang.Integer" resultMap="WjResultMap">
        select
            r.id ,
            r.classes ,
            r.name ,
            r.wjdate,
            r.notes,
            r.typeid,
            c.typename
        from tb_wj r left join  tb_wjtype c on r.typeid = c.id
        where r.id = #{id}
    </select>
    <insert id="addWj" parameterType="com.buba.stuinfomanager.pojo.Wj">
        insert  into tb_wj (classes,name,wjdate,notes,typeid)
        values
        (#{classes},#{studentname},#{wjdate},#{notes},#{typeid})
    </insert>
    <delete id="delWj" parameterType="java.lang.Integer">
        delete from tb_wj where id = #{id}
    </delete>
    <update id="updWj" parameterType="com.buba.stuinfomanager.pojo.Wj">
        update tb_wj set classes = #{classes} , name = #{studentname} , wjdate = #{wjdate}
                , notes = #{notes} , typeid = #{typeid} where id = #{id}
    </update>
</mapper>